<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="header_text">
        <h1 class="animate__animated animate__fadeInUp d-flex">
            {{"notification" | translate}}
            <ion-icon class="zmdi zmdi-filter-list end ion-text-end"></ion-icon>
        </h1>

    </div>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp recently">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Angelina Haydon</span>
                        <strong class="end">10m</strong>
                    </h2>
                    <h3>Liked <span>your</span> post.</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp recently">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Jessica Taylor</span>
                        <strong class="end">10m</strong>
                    </h2>
                    <h3><span>Posted in </span> helpdesk <span>for Plumbing.</span></h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp recently">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Admin</span>
                        <strong class="end">10m</strong>
                    </h2>
                    <h3><span>Posted</span> Announcement <span>in Noticeboard.</span></h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Admin</span>
                        <strong class="end">1.5 hr</strong>
                    </h2>
                    <h3>Approved <span>your</span> Amenity Booking.</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img10.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>George Anderson</span>
                        <strong class="end">1 hr</strong>
                    </h2>
                    <h3>Commented <span>on your</span> post.</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Admin</span>
                        <strong class="end">1d</strong>
                    </h2>
                    <h3><span>Posted</span> Poll <span>in Noticeboard.</span></h3>
                </div>
            </div>
        </ion-item>






        <ion-item class="animate__animated animate__fadeInUp ">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Angelina Haydon</span>
                        <strong class="end">4d</strong>
                    </h2>
                    <h3>Liked <span>your</span> post.</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp ">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img7.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Jessica Taylor</span>
                        <strong class="end">4d</strong>
                    </h2>
                    <h3><span>Posted in </span> helpdesk <span>for Plumbing.</span></h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Admin</span>
                        <strong class="end">5d</strong>
                    </h2>
                    <h3><span>Posted</span> Announcement <span>in Noticeboard.</span></h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img9.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Admin</span>
                        <strong class="end">5d</strong>
                    </h2>
                    <h3>Approved <span>your</span> Amenity Booking.</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img10.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>George Anderson</span>
                        <strong class="end">6d</strong>
                    </h2>
                    <h3>Commented <span>on your</span> post.</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/avatars/img8.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">
                        <span>Admin</span>
                        <strong class="end">6d</strong>
                    </h2>
                    <h3><span>Posted</span> Poll <span>in Noticeboard.</span></h3>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>