<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon class="zmdi zmdi-view-agenda"></ion-icon>
            <ion-label>{{'home' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="activity">
            <ion-icon class="zmdi zmdi-calendar-note"></ion-icon>
            <ion-label>{{'activity' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="social">
            <ion-icon class="zmdi zmdi-accounts"></ion-icon>
            <ion-label>{{'social' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="services">
            <ion-icon class="zmdi zmdi-wrench"></ion-icon>
            <ion-label>{{'service' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>