<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="header_text">
        <h1 class="animate__animated animate__fadeInUp d-flex">{{"notices_board" | translate}}</h1>
    </div>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h2 class="d-flex">
                        <ion-icon class="zmdi  zmdi-notifications-active ion-text-start"></ion-icon>
                        {{"announcement" | translate}}
                    </h2>
                    <p>
                        Increasing Society maintenance to $20 from Next month due to security increments.
                    </p>
                </div>
                <div class="itemContent">
                    <h3 class="d-flex">
                        <span>{{"posted_by" | translate}}</span> &nbsp;
                        <strong>Admin</strong>
                        <span class="end">19 Aug, 05:30 pm</span>
                    </h3>
                </div>
                <div class="itemFooter">
                    <ion-row>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <strong>
                  <ion-icon class="zmdi zmdi-thumb-up"></ion-icon>
                  78
                </strong>

                                <strong>
                  <ion-icon class="zmdi zmdi-thumb-down"></ion-icon>
                  12
                </strong>
                            </h3>
                        </ion-col>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <span class="end">
                  <ion-icon class="zmdi zmdi-comment-text"></ion-icon>
                  08 {{"comments" | translate}}
                </span>
                            </h3>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp poll">
            <div class="item_inner">
                <div class="itemHeader">
                    <h2 class="d-flex">
                        <ion-icon class="zmdi  zmdi-chart ion-text-start"></ion-icon>
                        {{"poll" | translate}}
                    </h2>
                    <p>
                        What are your suggestions to build on common plot at backside of building?
                    </p>

                    <div class="progressBox">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 55%"></div>
                            <h3 class="d-flex">
                                Children's Park
                                <span class="end">55%</span>
                            </h3>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 18%"></div>
                            <h3 class="d-flex">
                                Guest Parking
                                <span class="end">18%</span>
                            </h3>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 27%"></div>
                            <h3 class="d-flex">
                                Club house
                                <span class="end">27%</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="itemContent">
                    <h3 class="d-flex">
                        <span>{{"posted_by" | translate}}</span> &nbsp;
                        <strong>Admin</strong>
                        <span class="end">22 Aug, 03:30 pm</span>
                    </h3>
                </div>
                <div class="itemFooter">
                    <ion-row>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <strong>
                  <ion-icon class="zmdi zmdi-time"></ion-icon>
                  2 days left
                </strong>
                            </h3>
                        </ion-col>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <span class="end">
                  <ion-icon class="zmdi zmdi-accounts"></ion-icon>
                  125 {{"responded" | translate}}
                </span>
                            </h3>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h2 class="d-flex">
                        <ion-icon class="zmdi  zmdi-notifications-active ion-text-start"></ion-icon>
                        {{"announcement" | translate}}
                    </h2>
                    <p>
                        Increasing Society maintenance to $20 from Next month due to security increments.
                    </p>
                </div>
                <div class="itemContent">
                    <h3 class="d-flex">
                        <span>{{"posted_by" | translate}}</span> &nbsp;
                        <strong>Admin</strong>
                        <span class="end">19 Aug, 05:30 pm</span>
                    </h3>
                </div>
                <div class="itemFooter">
                    <ion-row>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <strong>
                <ion-icon class="zmdi zmdi-thumb-up"></ion-icon>
                78
              </strong>

                                <strong>
                <ion-icon class="zmdi zmdi-thumb-down"></ion-icon>
                12
              </strong>
                            </h3>
                        </ion-col>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <span class="end">
                <ion-icon class="zmdi zmdi-comment-text"></ion-icon>
                08 {{"comments" | translate}}
              </span>
                            </h3>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp poll">
            <div class="item_inner">
                <div class="itemHeader">
                    <h2 class="d-flex">
                        <ion-icon class="zmdi  zmdi-chart ion-text-start"></ion-icon>
                        {{"poll" | translate}}
                    </h2>
                    <p>
                        What are your suggestions to build on common plot at backside of building?
                    </p>

                    <div class="progressBox">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 55%"></div>
                            <h3 class="d-flex">
                                Children's Park
                                <span class="end">55%</span>
                            </h3>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 18%"></div>
                            <h3 class="d-flex">
                                Guest Parking
                                <span class="end">18%</span>
                            </h3>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 27%"></div>
                            <h3 class="d-flex">
                                Club house
                                <span class="end">27%</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="itemContent">
                    <h3 class="d-flex">
                        <span>{{"posted_by" | translate}}</span> &nbsp;
                        <strong>Admin</strong>
                        <span class="end">22 Aug, 03:30 pm</span>
                    </h3>
                </div>
                <div class="itemFooter">
                    <ion-row>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <strong>
                <ion-icon class="zmdi zmdi-time"></ion-icon>
                2 days left
              </strong>
                            </h3>
                        </ion-col>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <span class="end">
                <ion-icon class="zmdi zmdi-accounts"></ion-icon>
                125 {{"responded" | translate}}
              </span>
                            </h3>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h2 class="d-flex">
                        <ion-icon class="zmdi  zmdi-notifications-active ion-text-start"></ion-icon>
                        {{"announcement" | translate}}
                    </h2>
                    <p>
                        Increasing Society maintenance to $20 from Next month due to security increments.
                    </p>
                </div>
                <div class="itemContent">
                    <h3 class="d-flex">
                        <span>{{"posted_by" | translate}}</span> &nbsp;
                        <strong>Admin</strong>
                        <span class="end">19 Aug, 05:30 pm</span>
                    </h3>
                </div>
                <div class="itemFooter">
                    <ion-row>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <strong>
              <ion-icon class="zmdi zmdi-thumb-up"></ion-icon>
              78
            </strong>

                                <strong>
              <ion-icon class="zmdi zmdi-thumb-down"></ion-icon>
              12
            </strong>
                            </h3>
                        </ion-col>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <span class="end">
              <ion-icon class="zmdi zmdi-comment-text"></ion-icon>
              08 {{"comments" | translate}}
            </span>
                            </h3>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp poll">
            <div class="item_inner">
                <div class="itemHeader">
                    <h2 class="d-flex">
                        <ion-icon class="zmdi  zmdi-chart ion-text-start"></ion-icon>
                        {{"poll" | translate}}
                    </h2>
                    <p>
                        What are your suggestions to build on common plot at backside of building?
                    </p>

                    <div class="progressBox">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 55%"></div>
                            <h3 class="d-flex">
                                Children's Park
                                <span class="end">55%</span>
                            </h3>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 18%"></div>
                            <h3 class="d-flex">
                                Guest Parking
                                <span class="end">18%</span>
                            </h3>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 27%"></div>
                            <h3 class="d-flex">
                                Club house
                                <span class="end">27%</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="itemContent">
                    <h3 class="d-flex">
                        <span>{{"posted_by" | translate}}</span> &nbsp;
                        <strong>Admin</strong>
                        <span class="end">22 Aug, 03:30 pm</span>
                    </h3>
                </div>
                <div class="itemFooter">
                    <ion-row>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <strong>
              <ion-icon class="zmdi zmdi-time"></ion-icon>
              2 days left
            </strong>
                            </h3>
                        </ion-col>
                        <ion-col size="6">
                            <h3 class="d-flex">
                                <span class="end">
              <ion-icon class="zmdi zmdi-accounts"></ion-icon>
              125 {{"responded" | translate}}
            </span>
                            </h3>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>
    </ion-list>

</ion-content>