<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <div class="complaint">
        <ion-card class="animate__animated animate__zoomIn">
            <div class="cardHeader d-flex">
                <div class="text_box">
                    <h2 class="d-flex">
                        <strong>Plumbing</strong>
                        <ion-icon class="zmdi zmdi-circle ion-text-center"></ion-icon>
                        <span>Community</span>
                    </h2>
                    <h3>Valve is not working Properly.</h3>
                </div>
                <div class="status end new">
                    <h4>{{"new" | translate}}</h4>
                </div>
            </div>

            <div class="cardContent">
                <h3 class="d-flex">
                    <span>{{"raised_by" | translate}}</span> &nbsp;
                    <strong>Jessica Taylor</strong>
                    <span class="end">22 Aug, 03:30 pm</span>
                </h3>
            </div>
        </ion-card>
        <ion-button size="large" shape="block" fill="solid" mode="md" class="btn animate__animated animate__zoomIn">
            <ion-icon class="zmdi zmdi-thumb-up ion-text-start"></ion-icon>
            {{"mark_as_resolved" | translate}}
        </ion-button>
    </div>

    <div class="complaint_photo">
        <h2>{{"complaint_photo" | translate}}</h2>

        <div class="scroll-x">
            <div class="scroll_item animate__animated animate__zoomIn center_img">
                <img src="assets/images/complaint/complaint1.png" class="crop_img">
            </div>
            <div class="scroll_item animate__animated animate__zoomIn center_img">
                <img src="assets/images/complaint/complaint2.png" class="crop_img">
            </div>
        </div>
    </div>


    <div class="recent_comments">
        <h2>{{"recent_comments" | translate}}</h2>
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="itemHeader d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/avatars/img2.png" class="crop_img">
                        </div>
                        <div class="text_box">
                            <h3>Emili Williamson</h3>
                            <h4 class="d-flex">
                                A-232
                                <ion-icon class="zmdi zmdi-circle ion-text-center"></ion-icon>
                                20 m ago
                            </h4>
                        </div>
                    </div>

                    <div class="itemContent">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="itemHeader d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/avatars/img5.png" class="crop_img">
                        </div>
                        <div class="text_box">
                            <h3>George Haydon</h3>
                            <h4 class="d-flex">
                                B-118
                                <ion-icon class="zmdi zmdi-circle ion-text-center"></ion-icon>
                                15 m ago
                            </h4>
                        </div>
                    </div>
                    <div class="itemContent">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry.. </p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="itemHeader d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/avatars/img7.png" class="crop_img">
                        </div>
                        <div class="text_box">
                            <h3>Jessica Taylor</h3>
                            <h4 class="d-flex">
                                B-118
                                <ion-icon class="zmdi zmdi-circle ion-text-center"></ion-icon>
                                15 m ago
                            </h4>
                        </div>
                    </div>
                    <div class="itemContent">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="itemHeader d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/avatars/img2.png" class="crop_img">
                        </div>
                        <div class="text_box">
                            <h3>Emili Williamson</h3>
                            <h4 class="d-flex">
                                A-232
                                <ion-icon class="zmdi zmdi-circle ion-text-center"></ion-icon>
                                20 m ago
                            </h4>
                        </div>
                    </div>

                    <div class="itemContent">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="itemHeader d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/avatars/img5.png" class="crop_img">
                        </div>
                        <div class="text_box">
                            <h3>George Haydon</h3>
                            <h4 class="d-flex">
                                B-118
                                <ion-icon class="zmdi zmdi-circle ion-text-center"></ion-icon>
                                15 m ago
                            </h4>
                        </div>
                    </div>
                    <div class="itemContent">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="itemHeader d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/avatars/img7.png" class="crop_img">
                        </div>
                        <div class="text_box">
                            <h3>Jessica Taylor</h3>
                            <h4 class="d-flex">
                                B-118
                                <ion-icon class="zmdi zmdi-circle ion-text-center"></ion-icon>
                                15 m ago
                            </h4>
                        </div>
                    </div>
                    <div class="itemContent">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__zoomIn">
    <div class="form d-flex">
        <div class="img_box center_img">
            <img src="assets/images/profile.png" class="crop_img">
        </div>
        <ion-item lines="none" class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="input_box">
                    <ion-textarea rows="1" auto-grow="true" mode="md" type="text" placeholder="{{'write_yout_comment' | translate}}"></ion-textarea>
                </div>
            </div>
        </ion-item>

        <h3 class="end">{{'post' | translate}}</h3>
    </div>
</ion-footer>