<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="header_text">
        <h1 class="animate__animated animate__fadeInUp">
            {{"sign_up_now" | translate}}
        </h1>
        <h2 class="animate__animated animate__fadeInUp">
            {{"you_are_not_registered_yet" | translate}}
        </h2>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="form">
        <div class="profile_img">
            <div class="img_box center_img">
                <img src="assets/images/profile_placeholder.png" class="crop_img">
            </div>
            <ion-icon class="zmdi zmdi-camera"></ion-icon>
        </div>

        <ion-list lines="none">
            <!-- <ion-item lines="none" class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <ion-label>{{'phone_number' | translate}}</ion-label>
                    <div class="input_box">
                        <ion-input type="tel" value="987 654 3210" placeholder="{{'enter_phone_number' | translate}}"></ion-input>
                    </div>
                </div>
            </ion-item> -->
            <ion-item lines="none" class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <ion-label>{{'full_name' | translate}}</ion-label>
                    <div class="input_box">
                        <ion-input type="name" value="Samantha Smith" placeholder="{{'enter_your_full_name' | translate}}" [(ngModel)]="name"></ion-input>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <ion-label>{{'email_address' | translate}}</ion-label>
                    <div class="input_box">
                        <ion-input type="email" value="samanthasmith@mail.com" placeholder="{{'enter_your_email_address' | translate}}" [(ngModel)]="email"></ion-input>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <ion-label>{{'password' | translate}}</ion-label>
                    <div class="input_box">
                        <ion-input type="password" placeholder="{{'*********' | translate}}" [(ngModel)]="password"></ion-input>
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" shape="block" fill="solid" mode="md" class="btn animate__animated animate__fadeInUp" (click)="signup()">{{'continue' | translate}}</ion-button>
</ion-footer>