ion-header ion-toolbar ion-title {
    padding: 0 20px !important;
    .title-inner {
        min-height: 70px;
        position: relative;
        h4 {
            margin: 0;
            min-height: 40px;
            position: relative;
            min-width: fit-content;
            ion-icon {
                color: var(--text-light);
                font-size: 1.4rem;
                line-height: 40px;
                min-height: 40px;
            }
            span {
                position: absolute;
                background: var(--red-color);
                width: 20px;
                height: 20px;
                color: var(--white);
                border-radius: 50%;
                border: 2px solid var(--white);
                font-size: .65rem;
                line-height: 15px;
                right: -6px;
            }
        }
        h3 {
            width: fit-content;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: -5px;
            height: fit-content;
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--text-black);
        }
        .img_box {
            min-width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}

.your_bookings {
    padding: 20px 20px 0;
    h2 {
        margin: 0;
        color: var(--text-black);
        font-size: 1.1rem;
        font-weight: 600;
        padding-bottom: 13px;
    }
    ion-card {
        padding: 14px 10px 0px 10px;
        background: var(--bg-color);
        width: calc(100% - 0px);
        margin: 0 auto;
        border: 2px solid var(--border-line-color2);
        border-radius: 12px;
        box-shadow: none;
        align-items: flex-end;
        .img_box {
            overflow: hidden;
            height: 78px;
            display: flex;
            align-items: flex-end;
            min-width: 80px;
            img {
                display: block;
                max-height: 78px;
                max-width: 80px;
            }
        }
        .text_box {
            width: 100%;
            overflow: hidden;
            padding-bottom: 13px;
            h3 {
                margin: 0;
                color: var(--text-black);
                font-size: .85rem;
                padding-bottom: 8px;
                font-weight: 500;
            }
            h4 {
                margin: 0;
                font-size: 0.75rem;
                padding-bottom: 8px;
                color: var(--text-light3);
            }
            h5 {
                margin: 0;
                color: var(--text-black);
                font-size: .85rem;
                font-weight: 500;
                ion-icon {
                    color: var(--text-light);
                    font-size: 1rem;
                    min-width: 22px;
                }
            }
        }
    }
}

.service_providers {
    padding: 20px;
    padding-bottom: 100px;
    h2 {
        margin: 0;
        color: var(--text-black);
        font-size: 1.1rem;
        font-weight: 600;
        padding-bottom: 13px;
    }
    ion-row {
        margin: 0 -7px;
        ion-col {
            padding: 7px;
            .item {
                background: var(--bg-color);
                align-items: flex-start;
                padding: 10px 10px 0px 10px;
                border-radius: 13px;
                border: 2px solid var(--border-line-color2);
                h3 {
                    margin: 0;
                    color: var(--text-black);
                    font-size: 0.85rem;
                    font-weight: 500;
                    padding-top: 9px;
                    line-height: 20px;
                }
                .img_box {
                    overflow: hidden;
                    height: 75px;
                    display: flex;
                    align-items: flex-end;
                    img {
                        display: block;
                        max-height: 75px;
                        max-width: 80px;
                    }
                }
            }
        }
    }
}

.optionButtonBg {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 85px;
    height: 76px;
    overflow: hidden;
    z-index: 99;
    &::before {
        content: "";
        position: absolute;
        bottom: 34%;
        width: 67px;
        height: 67px;
        left: unset;
        right: 7px;
        margin-left: auto;
        margin-right: 0;
        border-radius: 100%;
        box-shadow: 0px 300px 0px 300px var(--bg-black);
    }
}

ion-fab {
    bottom: 0;
    right: 0;
    position: fixed;
    max-width: 85px;
    min-width: 85px;
    z-index: 999;
    min-height: 85px;
    ion-fab-button {
        --background: var(--blue-color);
        width: 55px;
        height: 55px;
        display: block;
        margin: 0 auto;
        margin-top: -1.5px;
        --box-shadow: 0 0px 6px 7px rgb(85 79 79 / 24%);
        position: relative;
        font-size: 1.9rem;
        font-weight: 600;
        right: -1.5px;
        transition: all .5s;
        span {
            transition: all .5s;
            ion-icon {
                font-size: 1.3rem;
                &.zmdi-search {
                    font-size: 1.75rem;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
    &.active {
        ion-fab-button {
            span {
                transform: rotate(45deg);
            }
        }
    }
}