<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="header_text">
        <h1 class="animate__animated animate__fadeInUp d-flex">
            {{"payments" | translate}}
        </h1>
    </div>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <ion-card class="animate__animated animate__zoomIn">
        <div class="cardHeader d-flex">
            <div class="text_box">
                <h2 class="d-flex">Security Deposite</h2>
                <h3>$50.00</h3>
            </div>
            <div class="status end pending">
                <h4>{{"pending" | translate}}</h4>
            </div>
            <!-- <div class="status end failed">
                <h4>{{"failed" | translate}}</h4>
            </div> -->
        </div>

        <div class="cardContent">
            <h3>
                <span>{{"due_date" | translate}}</span>
                <strong>22 June, 02:58pm</strong>
            </h3>
        </div>
    </ion-card>


    <div class="paymentMethods">
        <h2>{{"select_payment_methods" | translate}}</h2>

        <ion-list lines="none">
            <ion-radio-group [(ngModel)]="payment_methods">
                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/payment_methods/payment_credit.png">
                        </div>
                        <h3>Credit Card</h3>
                        <ion-radio class="end" value="1"></ion-radio>
                    </div>
                </ion-item>
                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/payment_methods/payment_cards.png">
                        </div>
                        <h3>Debit Card</h3>
                        <ion-radio class="end" value="2"></ion-radio>
                    </div>
                </ion-item>
                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/payment_methods/payment_online.png">
                        </div>
                        <h3>Online Banking</h3>
                        <ion-radio class="end" value="3"></ion-radio>
                    </div>
                </ion-item>
                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/payment_methods/payment_paypal.png">
                        </div>
                        <h3>Pay Pal</h3>
                        <ion-radio class="end" value="4"></ion-radio>
                    </div>
                </ion-item>
                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/payment_methods/payment_cash.png">
                        </div>
                        <h3>Pay Cash to admin</h3>
                        <ion-radio class="end" value="5"></ion-radio>
                    </div>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" shape="block" fill="solid" mode="md" class="btn animate__animated animate__fadeInUp" (click)="paymentReceipt()">{{'confirm_pay' | translate}}</ion-button>
</ion-footer>